body{
background-color: black;
    }
h1,h2{
color: #cc0000;

}
h1,h2,pre{
	font-family: "Arial", Times, serif;       
}
h1{
	text-align: center;
}
pre{
	color:yellow;
font-size: 25px;
font-style: italic;
}
li{
	color: #ffffcc;
	font-size: 20px;
}
a{
    color:coral;
}

main{
width: 80%;
margin: auto;  
background-image: url(3.jpg);
background-repeat:  no-repeat;
}

.footer{
    padding: 20px;
    color: aliceblue;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}